</body>
<script type="text/javascript" src="/vendors/popper.js/dist/umd/popper.min.js"></script>
<script type="text/javascript" src="/vendors/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/main.js"></script>
<script type="text/javascript" src="/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script type="text/javascript" src="/vendors/jqvmap/dist/jquery.vmap.min.js"></script>
<script type="text/javascript" src="/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<script type="text/javascript" src="/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script type="text/javascript" src="/assets/js/tables.js">
</script>
</html>
