<div class="container">
	<div id="messages">
	<% Object.keys(messages).forEach(function (type) { %>
	  <% messages[type].forEach(function (message) { %>
			<div class="sufee-alert with-close alert alert-<%= type %> alert-dismissable fade show" role="alert">
				<span class="badge badge-pill badge-<%= type %>"><%= type %></span>
				<%= message %>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</div>
	  <% }) %>
	<% }) %>
	</div>
</div>
